.backgroundLayer {
  padding: 2rem 0;
  background-color: var(--color-tone-4);
  min-height: calc(100vh - var(--nav-height) - var(--hero-height));
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  background-color: var(--color-tone-3);
  padding: 1rem;
}

.Button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--color-tone-2);
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
